.list-items{
    display: inline;
    list-style: none;
}
.link{
    text-decoration: none;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    background-color:brown;
    
}
*{
    margin: 0px;
    padding: 10px;
}
section{
    background-image:url(https://static.vecteezy.com/system/resources/thumbnails/030/719/112/small/slice-of-pizza-falling-into-the-air-on-a-dark-background-photo.jpg) ;
    width: 100%;
    height: 500px;
    background-size: cover;
}